body {
    font-family: 'Calibri';
}

#articles {
    display: flex;
    flex-direction: column;
}

#articles button {
    max-width: 200px;
    margin-top: 20px;
}

.textarea {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 200px;
}


form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

label {
    margin-bottom: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
}
