body {
    font-family: "Calibri";
}

#input-log {
    color: red;
    font-weight: 700;
}

.leap {
    background-color: yellow;
}

.head {
    background-color: lightgrey;
    font-weight: 700;
}

table, td, th, tr {
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    width: 200px;
}
