body {
    font-family: "Calibri";
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#avatar {
    max-width: 300px;
}

img {
    width: 100%;
    height: auto;
}
